{% load static %}
    <!-- Main Header Start -->
    <div class="main-header-area">
      <div class="classy-nav-container breakpoint-off">
        <!-- Classy Menu -->
        <nav class="classy-navbar justify-content-between" id="monaNav">

          <!-- Background Curve -->
          <div class="bg-curve" style="background-image: url({% static '/img/core-img/curve.png' %});"></div>

          <!-- Logo -->
          <a class="nav-brand" href="{% url 'maps:index' %}"><img src="{% static '/img/core-img/favicon5.png' %}" width="50px"><img src="{% static '/img/core-img/logo2.png' %}"  width="150px"></a>

          <!-- Navbar Toggler -->
          <div class="classy-navbar-toggler">
            <span class="navbarToggler"><span></span><span></span><span></span></span>
          </div>

          <!-- Menu -->
          <div class="classy-menu">
            <!-- Menu Close Button -->
            <div class="classycloseIcon">
              <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
            </div>

            <!-- Nav Start -->
            <div class="classynav">
              <ul id="nav">
                <li class="current-item"><a href="{% url 'maps:index' %}">Home</a></li>
                <li><a href="#">About Us</a>
                {% comment %} <li><a href="{% url 'maps:about' %}">About Us</a></li>  {% endcomment %}
                  <ul class="dropdown">
                    <li><a href="{% url 'informs:index' %}"> About '선과함께'</a></li>
                    {% comment %} <li><a href="{% url 'maps:about' %}"> About '선과함께'</a></li> {% endcomment %}
                    <li><a href="#"> 참여 가이드</a>
                      <ul class="dropdown">
                        <li><a href="{% url 'informs:user' %}">후원자</a></li>
                        <li><a href="{% url 'informs:boss' %}">사장님</a></li>
                      </ul></li>
                  </ul></li> 
                <li><a href="{% url 'stores:index' %}">Stores</a></li>
                {% if user.is_authenticated %} 
                  <li><a href="#">MyPage</a>
                    <ul class="dropdown">
                      {% if user.is_superuser %}
                        <li><a href="/admin">- MyPage</a></li>
                      {% else %}
                        <li><a href="{% url 'stores:update' %}">- MyPage</a></li>
                        <li><a href="{% url 'stores:mypage' user.store.pk %}">- QR생성</a></li>
                      {% endif %}
                    </ul> 
                  </li>
                {% endif %}
              </ul>

              <!-- Search Icon -->
              {% comment %} <div class="search-icon" data-toggle="modal" data-target="#searchModal">
                <i class="icon_search"></i>
              </div> {% endcomment %}
              
              {% if user.is_authenticated %}  
                <div class="search-icon logout" data-toggle="modal" data-target="#signOutModal">
                  <i class="fas fa-sign-out-alt"></i>
                </div>
              {% else %}
                <div class="search-icon sign-in" data-toggle="modal" data-target="#signInModal">
                  <i class="fas fa-sign-in-alt"></i>
                </div>
              {% endif %}
            </div>
            <!-- Nav End -->

          </div>
        </nav>
      </div>
    </div>