{% extends 'base.html' %}

{% block style %}
    /* 가로막대 차트 */
    .chart div {
      font: 10px sans-serif;
      background-color: steelblue;
      text-align: right;
      padding: 3px;
      margin: 1px;
      color: white;
    }

    /* AMCHART */
    .chartdiv {
    width: 100%;
    height: 500px;
    }

    
{% endblock  %}

{% block content %}
    <h1 class="text-center">store list</h1>
    <a href="{% url 'stores:store_new' %}" class="btn btn-primary">정보작성</a>
    <hr>
    <table>
        <thead>
           <td>name</td> 
           <td>num</td> 
           <td>addr</td> 
           <td>open_hour</td> 
           <td>closed_hour</td> 
           <td>service</td> 
           <td>방문횟수</td>            
           <td>QR생성</td>            
        </thead>
        {% for store in stores %}
            <tr>
                <td>{{ store.name }}</td>
                <td>{{ store.num }}</td>
                <td>{{ store.addr }}</td>
                <td>{{ store.open_hour }}</td>
                <td>{{ store.closed_hour }}</td>
                <td>{{ store.service }}</td>
                <td>{{ store.visiting_set.count }}</td>
                <td> <a href="{% url 'stores:qr' store.pk %}" class="btn btn-primary">qr생성</a></td>
            </tr>
        {% endfor %}
    </table>

<!-- 그래프 삽입 -->



<div class="d-flex bd-highlight">
  <div class="p-2 flex-grow-1 bd-highlight">{% include 'stores/line_graph.html' %}</div>
  <div class="p-2 bd-highlight">{% include 'stores/column_graph.html' %}</div>
</div>

<!-- 그래프 삽입 끝-->
 
{% endblock %}